<div class="jumbotron">
    <h2>Challenge técnico Nubimetrics  Backend S SR.</h2>
    <p class="lead"><h5>Para sabes mas sobre la API Web ingresar a la documentacion o a la Interfaz de Usuario(UI).</h5></p>
    <!--<p><a href="https://asp.net" class="btn btn-primary btn-lg">Documentacion &raquo;</a></p>-->
</div>

<br />
<br />
<br />
<div class="row">
    <div class="col-md-4">
        <h4>Documentación</h4>
        <p>
            Documento detallado sobre el funcionamiento de la API Web.
        </p>
        <p><a class="btn btn-default" href="https://drive.google.com/file/d/16ctNyI9dgcEek3TBiONyLIzgL6DZYYSg/view?usp=sharing">Doc &raquo;</a></p>
    </div>
    
    <div class="col-md-4">
        <h4>Interfaz de Usuario</h4>
        <p>Puede ejecutar la API Web directamente desde la opcion de menu "API Web UI"</p>
        <!--<p><a class="btn btn-primary btn-lg" href="https://go.microsoft.com/fwlink/?LinkId=301871">UI &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
        <h4>Muchas Gracias</h4>
        <p>Por permitirme formar parte de este desafio.</p>
        <!--<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>-->
    </div>
        
</div>
